.breadcrumbs__list {
	display: flex;
	align-items: center;
}

.breadcrumbs__item {
	display: flex;
	align-items: center;
}

.breadcrumbs__item:after {
	content: '/';
	font-size: 14px;
	line-height: 19px;
	color: #9a9a9a;
	margin-left: 4px;
	margin-right: 4px;
}

.breadcrumbs__item:last-child:after {
	display: none;
}

.breadcrumbs__link {
	font-size: 14px;
	line-height: 19px;
	color: #9a9a9a;
	text-decoration-line: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
	font-weight: bold;
}
