.button {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	padding: 18px 53px;
	background: #ff5500;
	border-radius: 35px;
	cursor: pointer;
	transition: 0.5s;
	color: #fff;
}

.button:hover {
	background-color: #ff3d00;
}

.button--light {
	background-color: #fff;
	color: #ff5500;
	padding: 16px 55px;
	border: 2px solid #ff5500;
}

.button--light:hover {
	color: #fff;
	background-color: #ff5500;
}

.button--short {
	padding: 18px 40px;
}

.button--grey {
	background-color: #8e8e8e;
}

.button--grey:hover {
	background-color: #2b2b2b;
}

.button--start-page {
	padding: 20px 58px;
}
