.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.contacts__phone {
	font-size: 26px;
	line-height: 35px;
}

.contacts__schedule-title {
	color: #ff3d00;
	font-size: 13px;
	line-height: 20px;
	text-decoration: underline;
}

.contacts-subtitle {
	color: #9a9a9a;
	font-size: 11px;
	line-height: 20px;
}

.contacts__dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
}

.contacts__info-list {
	position: absolute;
	top: 27px;
	width: 157px;
	height: 68px;
	background: #fff;
	mix-blend-mode: normal;
	border-radius: 4px;
	color: #1e1f20;
	padding: 11px 17px 15px 18px;
	right: -9999px;
	opacity: 0;
}

.contacts__dropdown:hover .contacts__info-list {
	right: 0;
	opacity: 0.8;
	transition: opacity 0.5s;
}

.contacts__info-list::before {
	content: '';
	position: absolute;
	top: -19px;
	left: 94px;
	border-top: 9.5px solid transparent;
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
	border-bottom: 9.5px solid #fff;
}

.contacts__info-list::after {
	content: '';
	display: block;
	position: absolute;
	height: 15px;
	top: -15px;
	left: 0;
	right: 0;
}

.contacts__info-item {
	font-weight: 600;
	font-size: 13px;
	line-height: 22px;
}

.contacts__info-item:first-child {
	font-weight: bold;
}
