.feedback {
	display: flex;
	flex-direction: column;
	background: #f4f5f5;
	border-radius: 5px;
	padding-left: 28px;
	padding-top: 50px;
	padding: 54px 20px 32px 30px;
}

.feedback__header {
	display: flex;
	align-items: center;
	margin-bottom: 29px;
}

.feedback__profile-picture {
	max-width: 142px;
	max-height: 142px;
	border-radius: 50%;
	margin-right: 22px;
}

.feedback__profile-link {
	font-weight: bold;
	font-size: 24px;
	line-height: 42px;
	text-decoration-line: underline;
	color: #2e77a4;
}

.feedback__profile-link::after {
	content: '';
	position: absolute;
	top: 3.5px;
	right: -39px;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../../img/feedbacks/vk-blue.png);
}

.feedback__tags {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.feedback__userdate {
	position: relative;
}

.feedback__content {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 0px;
}

.feedback__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
	color: #202020;
	margin-bottom: 13px;
}

.feedback__text {
	color: #818181;
	line-height: 27px;
	margin-bottom: 48.5px;
}

.feedback__date {
	font-weight: 600;
	font-size: 14px;
	line-height: 27px;
	color: #1a1b1e;
	display: flex;
	top: 100%;
	padding-top: 5px;
}
