.single-news {
	position: relative;
}

.single-news__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.single-news__info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 115.5px;
	padding: 18px 30px 17px 30px;
}

.single-news__date {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}

.single-news__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 10px;
}

.single-news__text {
	line-height: 21px;
	max-width: 442px;
}
