@import url(layout/normalize.css);
@import url(layout/base.css);
@import url(elements/menu.css);
@import url(elements/contacts.css);
@import url(elements/pagination.css);
@import url(elements/buttons.css);
@import url(elements/single-news.css);
@import url(elements/offer.css);
@import url(elements/service.css);
@import url(elements/socials.css);
@import url(elements/breadcrumbs.css);
@import url(elements/feedback-item.css);
@import url(elements/feedback-tag.css);
@import url(elements/form.css);
@import url(elements/controls.css);
@import url(blocks/header.css);
@import url(blocks/footer.css);
@import url(blocks/hello.css);
@import url(blocks/offers.css);
@import url(blocks/news.css);
@import url(blocks/about.css);
@import url(blocks/top-line.css);
@import url(blocks/inner-section.css);
@import url(blocks/services-content.css);
@import url(blocks/partners.css);
@import url(blocks/feedbacks.css);
@import url(blocks/advertisement.css);
@import url(blocks/start-page.css);
