html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

address {
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

input,
textarea {
	outline: none;
}

.wrapper {
	min-width: 1050px;
	min-height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper--main {
	background: url(../../img/background/hero.jpg) center top 9px no-repeat, url(../../img/background/bottom-pic.jpg) center bottom 297px no-repeat;
	background-color: #17191c;
}

.wrapper--start {
	background: url(../../img/start/rec.png) center no-repeat, url(../../img/start/bg.jpg) center no-repeat;
	background-color: #17191c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1142px;
}

.main-title {
	font-weight: 800;
	font-size: 72px;
	line-height: 99px;
	text-transform: uppercase;
}

.page-title {
	display: flex;
	flex: 1;
	align-items: center;
	font-weight: 800;
	font-size: 72px;
	line-height: 98px;
	text-transform: uppercase;
}

.title {
	color: #fff;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	text-transform: uppercase;
}

.title--dark {
	color: #000;
}
