html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

address {
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

.wrapper {
	min-width: 1050px;
	min-height: 100%;
	background-color: #17191c;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper--main {
	background: url(../../img/background/hero.jpg) center top 10px no-repeat, url(../../img/background/bottom-pic.jpg) center bottom 291px no-repeat;
	background-color: #17191c;
}

.wrapper--services {
	background-color: #fff;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1142px;
}

.button {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	padding: 18px 53px;
	background: #ff5500;
	border-radius: 35px;
	cursor: pointer;
}

.button:hover {
	background-color: #ff3d00;
}

.button--light {
	background-color: #fff;
	color: #ff5500;
	padding: 16px 53px;
	border: 2px solid #ff5500;
	box-sizing: border-box;
}

.button--light:hover {
	color: #fff;
	background-color: #ff5500;
}

.button--short {
	padding: 18px 40px;
}

.main-title {
	font-weight: 800;
	font-size: 72px;
	line-height: 99px;
	text-transform: uppercase;
}

.title {
	color: #fff;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	text-transform: uppercase;
}

.title--dark {
	color: #000;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination__list {
	display: flex;
}

.pagination__position {
	line-height: 20px;
	margin-right: 25px;
}

.pagination__item {
	text-align: center;
}

.pagination__item--active .pagination__link {
	background: #ff5500;
}

.pagination__link {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: 700;
	line-height: 32px;
}

.pagination__link:hover {
	background: #ff5500;
}
