.about {
	margin-bottom: 55px;
}

.about__container {
	display: flex;
}

.about__img {
	max-width: 490px;
	max-height: 505px;
}

.about__content {
	padding: 70px 81px 66px 81px;
	max-width: 785px;
	min-height: 455px;
	background: #fff;
	border-radius: 5px;
	margin-left: -135px;
	margin-top: 97px;
}

.about__content p {
	margin-top: 37px;
	margin-bottom: 43px;
	line-height: 27px;
	color: #060606;
	max-width: 502px;
}
