.about {
    margin-bottom: 55px;
}

.about__content,
.about__img {
    display: inline-block;
    vertical-align: top;
} 

.about__content {
    padding: 70px 81px 66px 81px;
    width: 785px;
    min-height: 455px;
    background: #fff;
    border-radius: 5px;
    margin-left: -140px;
    margin-top: 97px;
}

.about__text {
    margin-top: 37px;
    margin-bottom: 43px;
    line-height: 27px;
    color: #060606;
    max-width: 502px;
}