.footer {
	margin-top: auto;
	padding-bottom: 42px;
	background-color: #17191c;
}

.footer__columns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 38px;
}

.footer__column {
	display: flex;
	flex: 100;
	align-items: center;
	justify-content: space-between;
}

.footer__column--align-right {
	flex: 93;
	justify-content: flex-end;
}

.footer__container:before {
	content: '';
	display: block;
	width: 1142px;
	height: 1px;
	left: 389px;
	top: 2780px;
	background: #fff;
	opacity: 0.1;
	text-align: center;
}

.socials {
	display: flex;
	margin-right: 14%;
}

.socials__item {
	margin-right: 10px;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__link {
	background: center center no-repeat;
}

.socials__item--telegram .socials__link,
.socials__item--vk .socials__link,
.socials__item--facebook .socials__link,
.socials__item--instagram .socials__link,
.socials__item--telegram .socials__link:hover,
.socials__item--vk .socials__link:hover,
.socials__item--facebook .socials__link:hover,
.socials__item--instagram .socials__link:hover {
	display: block;
	width: 36px;
	height: 36px;
}

.socials__item--telegram .socials__link {
	background-image: url('../../img/footer/telegram.svg');
}

.socials__item--vk .socials__link {
	background-image: url('../../img/footer/vk.svg');
}

.socials__item--facebook .socials__link {
	background-image: url('../../img/footer/facebook.svg');
}

.socials__item--instagram .socials__link {
	background-image: url('../../img/footer/instagram.svg');
}

.socials__item--telegram .socials__link:hover {
	background-image: url('../../img/footer/telegram-hover.svg');
}

.socials__item--vk .socials__link:hover {
	background-image: url('../../img/footer/vk-hover.svg');
}

.socials__item--facebook .socials__link:hover {
	background-image: url('../../img/footer/facebook-hover.svg');
}

.socials__item--instagram .socials__link:hover {
	background-image: url('../../img/footer/instagram-hover.svg');
}

.contacts-subtitle {
	color: #9a9a9a;
	font-size: 11px;
	line-height: 20px;
}

.footer--services .footer__container:before {
	display: none;
}
