.footer {
    height: 146px;
}

.footer__container {
    position: relative;
}

.footer__container:before {
    content: "";
    display: block;
    width: 1142px;
    height: 1px;
    left: 389px;
    top: 2780px;
    background: #FFF;
    opacity: 0.1;
}

.logo--footer {
    top: 42px;
}

.menu--footer {
    top: 57px;
    left: 328px;
}

.socials {
    position: absolute;
    top: 51px;
    left: 702px;
}

.socials__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    background:  center center no-repeat;
}

.socials__img {
    width: 36px;
    height: 36px;
}

.socials__img--hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.socials__item:hover .socials__img--hover{
    display: inline-block;
}

.contacts--footer {
    text-align: right;
    top: 43px;
}

.contacts-subtitle {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
}