.footer {
	margin-top: auto;
	background-color: #17191c;
}

.footer:before {
	content: '';
	display: block;
	width: 1142px;
	height: 1px;
	margin: auto;
	background: #fff;
	opacity: 0.1;
	text-align: center;
}

.footer__container {
	padding-top: 41px;
	padding-bottom: 42px;
}

.footer__columns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__column {
	display: flex;
	flex: 100;
	align-items: center;
	justify-content: space-between;
}

.footer__column--align-right {
	flex: 93;
	justify-content: flex-end;
}

.footer--services .footer__container:before {
	display: none;
}
