.header {
	padding-top: 26px;
	padding-bottom: 30px;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__left {
	display: flex;
	align-items: center;
	flex: 1;
}

.header__logo {
	margin-right: 241.5px;
}

.header--services {
	padding-top: 18px;
}
