.hello {
	min-height: 586px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 107px;
}

.hello__container {
	width: 80%;
}

.hello__title {
	margin-bottom: 17px;
}

.hello__text {
	font-size: 18px;
	margin-bottom: 44px;
}
