.hello {
	min-height: 581px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 110px;
}

.hello__container {
	width: 80%;
}

.hello .main-title {
	margin-bottom: 20px;
}

.hello__text {
	font-size: 18px;
	margin-bottom: 42px;
}
