.inner-section {
	padding-top: 88px;
	padding-bottom: 115px;
}

.inner-section--bg-grey {
	background-color: #f4f5f5;
}

.inner-section__title {
	color: #1a1b1e;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	margin-bottom: 82px;
}

.inner-section__title--uppercase {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	margin-bottom: 56px;
}

.inner-section-ad {
	padding-top: 79px;
	padding-bottom: 96px;
}
