.news {
	margin-bottom: 145px;
}

.news__list {
	display: flex;
	justify-content: space-between;
	margin-top: 51px;
	margin-bottom: 53px;
}

.news__item {
	flex: 1;
	height: 394px;
	margin-right: 2%;
}

.news__item:last-child {
	margin-right: 0;
}
