.offers {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 180px;
}

.offers__list {
	display: flex;
	justify-content: space-between;
}

.offers__item {
	width: calc(100% / 3 - 18px);
}
