.offers {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 180px;
}

.offers__list {
	display: flex;
	justify-content: space-between;
}

.offer {
	min-height: 476px;
	background-color: #fff;
	color: #000;
	padding: 35px 17px;
	border: 5px solid #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.offer:hover {
	border-color: #ccc;
}

.offers__item {
	width: calc(100% / 3 - 18px);
}

.offer__img {
	margin-left: 7px;
	margin-bottom: 30px;
}

.offer__img--big {
	margin-top: -4px;
}

.offer__content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.offer__titile {
	color: #000;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	margin-bottom: 17px;
}

.offer__features {
	display: flex;
	justify-content: space-between;
	color: #666;
	line-height: 20px;
	margin-bottom: 26px;
}

.offer__feature {
	max-width: 35%;
}

.offer__feature:last-child {
	max-width: 40%;
}

.offer__text {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	width: 95%;
}

.offer__feature-text-bold {
	color: #000;
	font-weight: bold;
}

.offer__button {
	margin-top: auto;
}
