.services-content {
	padding-top: 94px;
	padding-bottom: 84px;
}

.services {
	margin-bottom: 65px;
}

.services__item {
	margin-bottom: 49px;
}

.services__item:last-child {
	margin-bottom: 0;
}

.service {
	display: flex;
	align-items: center;
}

.service__img {
	margin-right: 5%;
}

.service__content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.service__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 28.5px;
}

.service__info p {
	line-height: 27px;
	margin-bottom: 34.5px;
	color: #303030;
}

.pagination--services {
	color: #000;
}

.pagination--services .pagination__item--active .pagination__link,
.pagination--services .pagination__link:hover {
	color: #fff;
}
