.start-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.start-page__logo {
	margin-bottom: 38px;
}

.start-page--animation {
	opacity: 0;
	animation: rotateIn 1.1s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}

@keyframes rotateIn {
	0% {
		transform: scale(0.1) rotate(30deg);
	}

	50% {
		transform: rotate(-10deg);
	}

	70% {
		transform: rotate(3deg);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
