.top-line {
	min-height: 415px;
	display: flex;
	flex-direction: column;
	padding-bottom: 27.5px;
	background: #17191c url(../../img/services/top-line.jpg) right 50% top -1px no-repeat;
}

.top-line__container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.top-line__header {
	padding-top: 20px;
}
